---
# RSS FEED - RSS 1.1
permalink: /notes/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>laNotes</title>
    <link>{{ metadata.url }}/notes</link>

    <atom:link href="{{ permalink | absoluteUrl(meta.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.subtitle }}</description>
    <language>{{ metadata.language }}</language>

	<copyright>Copyright 2024, {{metadata.author.name}}</copyright>
    <managingEditor>{{metadata.author.email}} ({{metadata.author.name}})</managingEditor>
    <webMaster>{{metadata.author.email}} ({{metadata.author.name}})</webMaster>

    <pubDate>{{ collections.posts.slice(-1)[0].date | dateToRfc822 }}</pubDate>

    {%- for post in collections.mini | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <author>{{ metadata.author.email }} ({{ metadata.author.name }})</author>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>
