---
permalink: /roll/blog.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
    <head>
        <title>RSS Feeds for Laker's Blogroll</title>
        <dateCreated>{{ roll.lastUpdated | dateISO }}</dateCreated>
    </head>
    <body>
        {%- for blog in roll.blogs -%}
            <outline text="{{ blog.name }}" title="{{ blog.name }}" type="rss" xmlUrl="{{ blog.feed }}" htmlUrl="{{ blog.url }}"/>
        {% endfor %}
    </body>
</opml>
