---
title: Home
subtitle: Welcome to Laker Turner's website.
permalink: /index.html
layout: base
---

<span class="h-card center" style="justify-content:left">
    <p style="margin-top: 0;">
        Hi! I'm <a class="u-url ntd" rel="me" href="{{metadata.author.url}}">Laker Turner</a>
        (<a href="https://laker.tech/pronouns" class="u-pronouns">she/her</a>). <br>
        <span class="p-note">
            I'm an 18 year old student from the UK, writer, <br>
            amateur programmer and leather jacket enthusiast.
        </span>
    </p>
	
    <img
		style="margin-left: 1em;"
		class="u-photo profile-picture"
		height=120 width=120
		src="{{metadata.author.photo.src}}"
		alt="{{metadata.author.photo.alt}}"
	>
</span>

<p>I've been creative my entire life, but started writing to clear my head, about 3 years ago.</p>
<p>
    I listen to music essentially every waking second of the day.
    You can look at what I'm listening to over on <a href="https://last.fm/user/lxjv">Last.fm</a>.
</p>

<p>
    I'm learning a mix of Rust and Java/Typescript right now, but I'm probably going to stick with Rust. <br>
    On the web side, I like Eleventy (it's what builds this site!).
</p>
<p>
    When I'm not knee-deep in my terminal, I like making music, taking photographs <br>
    and reading <strong>Hitch-Hiker's Guide to the Galaxy</strong> for the 5th time.
</p>

<p>Feel free to walk around and see what's going on, here are some blog posts!</p>

<p>
    If you want to keep in touch with me outside of this site, <br>
    I'm on the fediverse as <a href="https://social.lol/@la">@la@social.lol</a>
    or email me at <a href="mailto:hello@laker.tech">hello@laker.tech</a>!
</p>
