---
title: Projects 
subtitle: Selected Ambient Works 05-24
permalink: /projects/index.html
---

{% for project in collections.project | reverse %}
    <li>
        <a href="{{ project.url }}">{{ project.data.title }}</a>
        - {{ project.date | datePretty }}
        {{ project.data.subtitle }}
    </li>
{% endfor %}