---
title: Blank
layout: 
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
    <link rel="stylesheet" href="/cdn/style/base.css">
</head>

<style>
    #blank {
        position: absolute;
        margin: 1em;
    }
</style>

<body>
	<span id="blank">
        <a href="https://web.archive.org/web/20180224075941/http://this-page-intentionally-left-blank.org/whythat.html">
            This page intentionally left (mostly) blank.
        </a>
        <a href="/">back</a>
    </span>
</body>
</html>
