<div id="header" style="padding-top:1.24em;">
	<div id="header-name">
		<h1>
		    <a class="ntd" href="/">{{metadata.title}}</a>
		    <i class="fa-solid fa-heart"></i>	
		</h1>
	</div>

	<div id="header-nav" style="margin-top:0.25em;">
		<a href="/contact">talk to me</a>
		<a href="/blog">my blog!</a>
		<a href="/projects">Selected Ambient Works 05-24</a>
		<a href="/more">more tat</a>
	</div>
</div>
