<header>
	<div id="header-name">
		<h1>
		    <a class="ntd header-name" href="/">{{metadata.title}}</a>
		    <i class="fa-solid fa-heart header-icon"></i>	
		</h1>
	</div>

	<div id="header-nav" style="margin-top:0.25em;">
		<a href="/contact">contact</a>
		<a href="/blog">laBlog</a>
		<a href="/notes">laNotes</a>
		<a href="/projects">projects</a>
		<a href="/more">everything else</a>
		<a class="ntd" style="padding-top:3px;" href="/subscribe">
			<i class="fa-solid fa-rss"></i>
			subscribe
		</a>
	</div>
</header>