@import url(./base.css);

body {
	padding: 0 5em;
}

header {
	margin-top: 1em;
}

footer {
	margin-bottom: 1em;
}

#content {
	margin: 16.8px 0 0 0;
}

#content-wrap {
	border: var(--accent) 3px solid;
	border-radius: 5em 2em;
	padding: 2em;
	width: fit-content;
}

blockquote {
	margin-left: 13px;
	padding-left: 8px;
	border-left: 5px double var(--accent);
	border-spacing: 5px;
}

hr {
	border: none;
	border-top: 3px solid var(--accent);
	margin: 1em 0;
	text-align: center;
	height: 5px;
}

small {
	font-size: 69%;
	font-weight: 420;
}

img {
	border: 1px solid #fff8e7;
	max-width: 720px;
}

.site-title,
.page-title,
#header-name>h1,
#header-text-bq {
	margin-top: 0;
}

#header-nav>a,
.webring>a {
	text-decoration: none;
}

#header-nav>:not(:last-child)::after {
	content: " ⋆";
}

#webrings>:not(:last-child)::after {
	content: " ⋆";
}

/* blog stuff */
#post-header-image {
	max-width: 720px;
}

.post-comment-ask {
	max-width: fit-content;
	padding: 1em 2em;
	border: #6faace 1px solid;
	border-radius: 1em 3em;
}
