@import url(./base.css);

html {
	background-image: linear-gradient(light-dark(var(--ctp-latte-base-rgb), var(--ctp-mocha-base-rgb)), calc(-200px + 100vh), light-dark(var(--ctp-latte-red-rgb), var(--ctp-mocha-rosewater-rgb)))
}

body {
	padding: calc(var(--padding-def) / 2) calc(var(--padding-def) * 2);
}

#content {
	padding: 0.62em;
	padding-left: 0;
	width: fit-content;
	max-width: 75%;
}

.header-name { color: var(--text-colour);}

.header-icon { color: var(--accent); }

#header-nav>a:not(:last-child) {
	margin-right: 0.24em;
}

footer {
	margin-bottom: var(--padding-def); /* so things arent just cut off after the quote */
}

blockquote {
	margin-left: 13px;
	padding-left: 8px;
	border-left: 5px double var(--accent);
	border-spacing: 5px;
}

.highlight {
	background-color: var(--accent);
	border-radius: 3.14px;
	padding: 3.14px 4px;
	font-weight: 500;
	color: light-dark(var(--ctp-latte-base), var(--ctp-mocha-base)) !important;
}

.profile-picture {
	border-radius: 3em 1em;
	border: solid var(--accent) 3px;
}

small {
	font-size: 69%;
	font-weight: 420;
}

hr {
	border: none;
	border-top: 3px double var(--accent);
	margin: 1em 0;
	text-align: center;
	height: 5px;
}

li {
	list-style: square url('/cdn/image/Five_Pointed_Star_Solid.svg');
}

img {
	border: 1px solid var(--accent);
	max-width: 720px;
}

.box {
	max-width: fit-content;
	padding: 2em 1.24em;
	border: var(--accent) 3px solid;
	border-radius: 1em 3em;
}

/* blog stuff */
#post-header-image {
	max-width: 720px;
}