<!DOCTYPE html>
<html lang="en">

{% include "utilities/head.njk" %}

<!-- this is where the ska begins -->
<body>
	{% include "header.njk" %}

	<main id="content">
		<div id="content-wrap">
			{{content | safe}}
		</div>
	</main>
	
	{% include "footer.njk" %}
</body>
</html>
