---
layout: base
---

<article class="h-entry">

	<div class="post-meta">

	<h2 class="page-title">
		{% if draft == true %}
			DRAFT --
		{% endif %}
		<span class="p-name">{{title | safe}}</span>

		<small>
			<a class="u-url ntd" href="https://{{metadata.domain}}{{page.url}}">
				<time class="dt-published" datetime="{{page.date | dateISO}}">
				{{page.date | datePretty}}
				</time>
			</a>
		</small>
	</h2>
	{% include "utilities/back.njk" %}
        <p>
		{% for tag in tags | arrayRemove(posts) %}
            <span>
				<a class="ntd p-category" href="/blog/t/{{tag}}">#{{tag}}</a>
			</span>
		{% endfor %}
        </p>
		
		<blockquote class="p-summary" style="margin-bottom: 1em;">
			{{subtitle | safe}}
		</blockquote>

	</div>
<hr>
	<div class="e-content">
		{% if image.src != null %}
			<img src="https://cdn.laker.tech/dottech//posts/{{page.fileSlug}}/{{image.src}}" alt="{{image.alt}}" class="post-header-img">
			<caption>{{image.alt}}</caption>
		{% endif %}

		{{content | safe}}
	</div>
</article>

<div class="box" style="margin-top: 1.24em">	
	<p style="width: 25em; margin-top: 0;">
		Want to comment on this post?
		<a 
			href="mailto:hello+{{page.fileSlug}}@concorde.blog?subject=A%20reply%20to%20{{title}}%20(%2F{{page.fileSlug}})"
		>Email me</a>!
	</p>
		
	<script
		src="https://utteranc.es/client.js"
		repo="lxjv/laker.tech"
		issue-term="title"
		label="comments"
		theme="icy-dark"
		crossorigin="anonymous"
		async
		defer>
	</script>
	{% include "utilities/back.njk" %}
</div>