{% for post in collections.posts reversed %}
    <div class="postlist-item">
        <h2>
			<a href="{{ post.url }}">{{ post.data.title }}</a>
			<small>{{ post.date | datePretty }}</small>
		</h2>
		<blockquote>{{ post.data.subtitle }}</blockquote>
    </div>
{% endfor %}
