{% for post in collections.posts | reverse %}
    <p>
		<a href="{{ post.url }}"> {% if post.data.draft == true %} (DRAFT) {% endif %} {{ post.data.title }}</a> - {{ post.date | datePretty }} 
	<blockquote>
			{{ post.data.subtitle }}
	</blockquote>
	</p>
{% endfor %}